@media (min-width: 320px) {
  .bunner {
    background-image: url("../images/bunner-bg.png");
    background-size: cover;
    text-align: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bunner_first-line {
    font-family: futura_bk_btbook;
    font-size: 20px;
    color: white;
    line-height: 25px;
  }

  .bunner_heading {
    font-family: futura_md_btbold;
    font-size: 23px;
    line-height: 28px;
    color: white;
    text-transform: uppercase;
  }

  .bunner_description {
    display: none;
  }

  .bunner_button {
    height: 40px;
    width: 200px;
    border: 1px solid #8c97a7;
    margin: 0 auto;
    margin-top: 20px;
    background: transparent;
  }

  .bunner_button:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 10px 1px rgba(255,255,255,1);
    box-shadow: 1px 1px 10px 1px rgba(255,255,255,1);
  }

  .button_name {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Semi-Bold", sans-serif;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .bunner {
    height: 585px;
  }

  .bunner_first-line {
    font-size: 36px;
    line-height: 75px;
  }

  .bunner_heading {
    font-size: 48px;
    line-height: 70px;
    width: 880px;
    margin: 0 auto;
  }

  .bunner_description {
    display: block;
    font-family: Calibri, sans-serif;
    font-style: italic;
    color: white;
    font-size: 20px;
    width: 600px;
    margin: 0 auto;
    line-height: 28px;
  }

  //.bunner_button {
  //  height: 40px;
  //  width: 200px;
  //  border: 1px solid #8c97a7;
  //  margin: 0 auto;
  //  text-align: center;
  //  margin-top: 20px;
  //  background: transparent;
  //}

  .button_name {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
  }
}