body {
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
}
@import "variables";
@import "head";
@import "bunner";
@import "servises";
@import "middle-section";
@import "pricing";
@import "feedback";
@import "footer";

