body {
  min-width: 320px; }

.wrapper {
  margin: 0 auto;
  padding: 0 10px; }

@media (min-width: 320px) {
  header {
    height: 70px;
    position: relative; }

  .wrapper--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 425px; }

  .logo_first-word {
    color: #ee8129;
    font-family: futura_bk_btbook;
    font-size: 25px; }

  .logo_second-word {
    color: #3070a8;
    font-family: futura_md_btbold;
    font-size: 25px;
    text-transform: uppercase; }

  .nav_menu {
    width: 100%;
    position: absolute;
    display: none;
    left: 0;
    text-align: center;
    padding-top: 15px;
    margin-top: -10px; }

  .mobile-menu:hover > .nav_menu {
    display: block; } }
  @media (min-width: 320px) and (min-width: 1024px) {
    .mobile-menu:hover > .nav_menu {
      display: flex; } }

@media (min-width: 320px) {
  .mobile-menu_button {
    text-transform: uppercase;
    height: 30px;
    width: 50px;
    border-radius: 3px;
    background-color: #3070a8;
    color: white;
    font-family: futura_md_btbold;
    padding: 15px 10px 0 10px;
    margin: 10px;
    display: block; }

  .menu_link {
    display: block;
    width: 100%;
    font-family: 'Open Sans Semi-Bold', sans-serif;
    color: #fff8fd;
    font-size: 24px;
    background-color: rgba(48, 112, 168, 0.8);
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    text-transform: uppercase; }

  .menu_link:hover {
    color: #3070a8;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #3070a8; } }
@media (min-width: 1024px) {
  header {
    height: 116px;
    position: static; }

  .wrapper--header {
    height: inherit;
    max-width: 1024px; }

  .logo_first-word {
    font-size: 36px; }

  .logo_second-word {
    font-size: 36px; }

  .nav_menu {
    position: static;
    width: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }

  .mobile-menu_button {
    display: none; }

  .menu_item {
    display: inline-block; }

  .menu_link {
    display: block;
    color: #989898;
    font-size: 14px;
    background-color: inherit; }
    .menu_link:hover {
      border-bottom: 2px solid #3070a8; } }
@media (min-width: 320px) {
  .bunner {
    background-image: url("../images/bunner-bg.png");
    background-size: cover;
    text-align: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .bunner_first-line {
    font-family: futura_bk_btbook;
    font-size: 20px;
    color: white;
    line-height: 25px; }

  .bunner_heading {
    font-family: futura_md_btbold;
    font-size: 23px;
    line-height: 28px;
    color: white;
    text-transform: uppercase; }

  .bunner_description {
    display: none; }

  .bunner_button {
    height: 40px;
    width: 200px;
    border: 1px solid #8c97a7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px; }

  .bunner_button:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 10px 1px white;
    -moz-box-shadow: 1px 1px 10px 1px white;
    box-shadow: 1px 1px 10px 1px white; }

  .button_name {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Semi-Bold", sans-serif;
    font-size: 20px; } }
@media (min-width: 1024px) {
  .bunner {
    height: 585px; }

  .bunner_first-line {
    font-size: 36px;
    line-height: 75px; }

  .bunner_heading {
    font-size: 48px;
    line-height: 70px;
    width: 880px;
    margin: 0 auto; }

  .bunner_description {
    display: block;
    font-family: Calibri, sans-serif;
    font-style: italic;
    color: white;
    font-size: 20px;
    width: 600px;
    margin: 0 auto;
    line-height: 28px; }

  .bunner_button {
    height: 40px;
    width: 200px;
    border: 1px solid #8c97a7;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px; }

  .bunner_button:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 10px 1px white;
    -moz-box-shadow: 1px 1px 10px 1px white;
    box-shadow: 1px 1px 10px 1px white; }

  .button_name {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold; } }
@media (min-width: 320px) {
  .servises {
    text-align: center;
    padding-top: 30px; }

  .servises_wrapper {
    max-width: 320px; }

  .servises_heading {
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: #41525c;
    font-size: 20px; }

  .servises_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px; }

  .article_heading {
    text-transform: uppercase;
    font-family: futura_bk_btbook;
    color: #3070a8;
    font-size: 25px;
    margin: 15px 0; }

  .article_description {
    font-family: "Open Sans";
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px; } }
@media (min-width: 1024px) {
  .servises {
    padding-top: 70px; }

  .servises_wrapper {
    max-width: 1024px; }

  .servises_heading {
    font-size: 30px; }

  .servises_container {
    margin-top: 78px; }

  .conteiner_item {
    width: 30%; }

  .article_heading {
    font-size: 30px;
    margin: 30px 0 20px 0; }

  .article_description {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 62px; } }

/*# sourceMappingURL=styles.css.map */
