body {
  min-width: 320px;
  max-width: 1366px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}
@import "variables";
@import "head";
@import "bunner";
@import "servises";
@import "key-features";
@import "pricing";
@import "feedback";
@import "footer";

