body {
  min-width: 320px;
  max-width: 1366px;
  margin: 0 auto; }

.container {
  margin: 0 auto;
  padding: 0 10px; }

@media (min-width: 320px) {
  header {
    height: 70px;
    position: relative; }

  .container--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 425px; }

  .logo_first-word {
    color: #ee8129;
    font-family: futura_bk_btbook;
    font-size: 25px; }

  .logo_second-word {
    color: #3070a8;
    font-family: futura_md_btbold;
    font-size: 25px;
    text-transform: uppercase; }

  .nav_menu {
    width: 100%;
    position: absolute;
    display: none;
    left: 0;
    text-align: center;
    padding-top: 15px;
    margin-top: -10px; }

  .mobile-menu:hover > .nav_menu {
    display: block; } }
  @media (min-width: 320px) and (min-width: 1024px) {
    .mobile-menu:hover > .nav_menu {
      display: flex; } }

@media (min-width: 320px) {
  .mobile-menu_button {
    text-transform: uppercase;
    height: 30px;
    width: 50px;
    border-radius: 3px;
    background-color: #3070a8;
    color: white;
    font-family: futura_md_btbold;
    padding: 15px 10px 0 10px;
    margin: 10px;
    display: block; }

  .menu_link {
    display: block;
    width: 100%;
    font-family: 'Open Sans Semi-Bold', sans-serif;
    color: #fff8fd;
    font-size: 24px;
    background-color: rgba(48, 112, 168, 0.8);
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    text-transform: uppercase; }

  .menu_link:hover {
    color: #3070a8;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #3070a8; } }
@media (min-width: 1024px) {
  header {
    height: 116px;
    position: static; }

  .container--header {
    height: inherit;
    max-width: 1024px; }

  .logo_first-word {
    font-size: 36px; }

  .logo_second-word {
    font-size: 36px; }

  .nav_menu {
    position: static;
    width: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }

  .mobile-menu_button {
    display: none; }

  .menu_item {
    display: inline-block; }

  .menu_link {
    display: block;
    color: #989898;
    font-size: 14px;
    background-color: inherit;
    padding: 47px 10px; }
    .menu_link:hover {
      border-bottom: 2px solid #3070a8;
      transition: 0.5s; } }
@media (min-width: 320px) {
  .bunner {
    background-image: url("../images/bunner-bg.png");
    background-size: cover;
    text-align: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .bunner_first-line {
    font-family: futura_bk_btbook;
    font-size: 20px;
    color: white;
    line-height: 25px; }

  .bunner_heading {
    font-family: futura_md_btbold;
    font-size: 23px;
    line-height: 28px;
    color: white;
    text-transform: uppercase; }

  .bunner_description {
    display: none; }

  .bunner_button {
    height: 40px;
    width: 200px;
    border: 1px solid #8c97a7;
    margin: 0 auto;
    margin-top: 20px;
    background: transparent; }

  .bunner_button:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 10px 1px white;
    -moz-box-shadow: 1px 1px 10px 1px white;
    box-shadow: 1px 1px 10px 1px white; }

  .button_name {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans Semi-Bold", sans-serif;
    font-size: 20px; } }
@media (min-width: 1024px) {
  .bunner {
    height: 585px; }

  .bunner_first-line {
    font-size: 36px;
    line-height: 75px; }

  .bunner_heading {
    font-size: 48px;
    line-height: 70px;
    width: 880px;
    margin: 0 auto; }

  .bunner_description {
    display: block;
    font-family: Calibri, sans-serif;
    font-style: italic;
    color: white;
    font-size: 20px;
    width: 600px;
    margin: 0 auto;
    line-height: 28px; }

  .button_name {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold; } }
@media (min-width: 320px) {
  .servises {
    text-align: center;
    padding-top: 30px; }

  .servises_container {
    max-width: 320px; }

  .servises_heading {
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-weight: bold;
    color: #41525c;
    font-size: 20px; }

  .servis_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px; }

  .article_heading {
    text-transform: uppercase;
    font-family: futura_bk_btbook;
    color: #3070a8;
    font-size: 25px;
    margin: 15px 0; }

  .article_description {
    font-family: "Open Sans";
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px; } }
@media (min-width: 1024px) {
  .servises {
    padding-top: 70px; }

  .servises_container {
    max-width: 1024px; }

  .servises_heading {
    font-size: 30px; }

  .servis_container {
    margin-top: 78px; }

  .conteiner_item {
    width: 30%; }

  .article_heading {
    font-size: 30px;
    margin: 30px 0 20px 0; }

  .article_description {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 62px; } }
@media (min-width: 320px) {
  .key-features {
    background-image: url("../images/middle-bg.png");
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 40px; }

  .key-features_heading {
    font-family: futura_bk_btbook;
    font-size: 20px;
    color: #ee8129;
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 10px; }

  .midlle-section_paragraph {
    font-family: "Open Sans";
    font-style: italic;
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px; }

  .key-features_list {
    list-style: disc outside; }

  .list_item {
    font-family: "Open Sans";
    font-size: 12px;
    color: #9d9d9d;
    line-height: 18px;
    margin: 0 0 15px 22px; }

  .list_item--active {
    color: #3070a8; } }
@media (min-width: 1024px) {
  .key-features {
    padding-top: 90px;
    padding-bottom: 70px; }

  .middle-container {
    max-width: 1024px; }

  .content-box {
    width: 680px; }

  .key-features_heading {
    font-size: 26px;
    margin-bottom: 20px; }

  .midlle-section_paragraph {
    font-size: 17px;
    margin-bottom: 25px; }

  .list_item {
    font-size: 14px;
    line-height: 25px; } }
@media (min-width: 320px) {
  .pricing {
    height: auto;
    text-align: center;
    margin: 30px 0 30px 0; }

  .pricing_heading {
    text-transform: uppercase;
    font-size: 20px;
    color: #41525c;
    font-family: "Trebuchet MS";
    font-weight: bold; }

  .price_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }

  .price-box {
    margin-top: 20px;
    background-color: white;
    width: 295px;
    border: 1px solid #e8eaec;
    border-radius: 10px; }

  .price-box--standard .price-box_head {
    background-color: #2bc2d5; }
  .price-box--standard .price_button {
    background-color: #3070a8; }

  .price-box--ultimate .price-box_head {
    background-color: #00b89a; }
  .price-box--ultimate .price_button {
    background-color: #3070a8; }

  .price-box_head {
    background-color: #ee8129;
    text-align: center;
    font-family: futura_md_btbold;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 6px 6px 0 0;
    line-height: 45px; }

  .pricing_description {
    margin: 15px 18px 0 18px; }

  .description_heading {
    font-size: 20px;
    font-family: futura_bk_btbook;
    color: #3f4042;
    text-transform: uppercase;
    margin-bottom: 20px; }

  .price-value {
    font-family: futura_md_btbold;
    font-size: 45px;
    color: #35495a; }
    .price-value sup {
      font-size: 25px; }
    .price-value sub {
      font-family: futura_bk_btbook;
      font-size: 15px; }

  .options {
    margin-top: 18px;
    text-align: left;
    list-style-image: url("../images/list-item.png"); }

  .options_item {
    font-family: Calibri;
    font-weight: bold;
    font-size: 14px;
    color: #888c94;
    line-height: 23px;
    margin-bottom: 1px;
    padding-left: 30px;
    list-style-position: inside; }

  .options_item:nth-child(2n+1) {
    background-color: #edf5fd; }

  .options_item:nth-child(2n) {
    background-color: #f5f5f6; }

  .price_button {
    margin: 17px 0 15px 0;
    background-color: #ee8129;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px -5px 2px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -5px 2px -3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -5px 2px -3px rgba(0, 0, 0, 0.75);
    height: 40px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: bold; }

  .price_button:hover {
    cursor: pointer;
    margin-top: 20px;
    box-shadow: none; } }
@media (min-width: 1024px) {
  .pricing {
    height: 580px;
    margin: 75px 0 90px 0; }

  .pricing_heading {
    font-size: 30px; }

  .price-box {
    margin-top: 78px;
    height: 455px; }

  .price-box:hover {
    border: 4px solid #ee8129;
    box-shadow: 0 0 12.9px 0.1px #0874b2;
    transition: 0.5s; }

  .price-box--standard:hover {
    border: 4px solid #2bc2d5; }

  .price-box--ultimate:hover {
    border: 4px solid #00b89a; }

  .price-box_head {
    font-size: 24px;
    line-height: 80px; }

  .pricing_description {
    margin: 25px 18px 0 18px; }

  .price-value {
    font-size: 72px; }
    .price-value sup {
      font-size: 36px; }
    .price-value sub {
      font-size: 18px; }

  .options {
    margin-top: 28px; }

  .options_item {
    font-size: 15px;
    line-height: 30px; } }
@media (min-width: 320px) {
  .feedback {
    padding: 20px 0 20px 0;
    text-align: center;
    background-image: url("../images/feedback-bg.png"); }

  .feedback_heading {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: futura_md_btbold;
    color: #3070a8;
    text-transform: uppercase; }

  .heading_first-word {
    font-family: futura_bk_btbook;
    color: #ee8129; }

  .customers-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }

  .feedback_customer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px; }

  .customer_avatar {
    background: white; }

  .feedback-box {
    background-color: white;
    margin-left: 0;
    padding: 0 15px; }

  .client_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    color: #3070a8;
    line-height: 40px; }

  .feedback-text {
    font-family: "Open Sans";
    font-size: 13px;
    color: #666666;
    line-height: 20px;
    margin: 5px 0 10px 0;
    text-align: left; } }
@media (min-width: 1024px) {
  .feedback {
    padding: 60px 0 60px 0; }

  .feedback_container {
    max-width: 1024px; }

  .feedback_heading {
    font-size: 40px;
    margin-bottom: 40px; }

  .feedback-box {
    width: 340px;
    margin-left: 25px;
    position: relative; }

  .feedback-box:before {
    content: '';
    position: absolute;
    left: -26px;
    bottom: 36px;
    border: 13px solid transparent;
    border-right: 13px solid white; }

  .client_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
    color: #3070a8;
    line-height: 40px; }

  .customer_avatar img {
    height: 100%; }

  .feedback-text {
    font-family: "Open Sans";
    font-size: 13px;
    color: #666666;
    line-height: 20px;
    margin-top: 5px;
    text-align: left; } }
@media (min-width: 320px) {
  .contact_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }

  .contacts {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    color: #666666;
    margin: 50px 0 0 30%; }
    .contacts address {
      line-height: 25px;
      display: block;
      position: relative; }
    .contacts address:before {
      display: block;
      position: absolute;
      left: -35px;
      top: -5px;
      content: url("../images/adress-marker.png"); }
    .contacts .phone {
      margin-top: 25px;
      display: block;
      position: relative; }
      .contacts .phone a {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        color: #666666; }
    .contacts .phone:before {
      display: block;
      position: absolute;
      left: -35px;
      top: -5px;
      content: url("../images/phone-icon.png"); }
    .contacts .email {
      margin-top: 25px;
      display: block;
      position: relative; }
      .contacts .email a {
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        color: #666666; }
    .contacts .email:before {
      display: block;
      position: absolute;
      left: -37px;
      top: 0px;
      content: url("../images/letter.png"); }

  .social {
    margin: 40px 0 20px -35px;
    display: flex;
    flex-direction: row; }

  .social_item {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 48px;
    background-color: gray;
    color: white;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.5s; }

  .social_item:hover {
    background-color: #3070a8;
    cursor: pointer; }

  .mapdiv {
    width: 100%;
    height: 300px; }

  #map {
    height: 100%; }

  .copyright {
    background-color: #3070a8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 12px;
    color: white;
    height: 70px; }
    .copyright span {
      font-weight: bold; }
    .copyright .designed {
      margin-top: 15px; }
      .copyright .designed span {
        color: black;
        font-weight: bold; } }
@media (min-width: 1024px) {
  .contact_container {
    max-width: 1024px; }

  .contacts {
    margin: 50px 0 0 35px; }

  .mapdiv {
    width: 700px;
    height: auto; }

  .copyright {
    height: 105px;
    font-size: 14px; } }

/*# sourceMappingURL=styles.css.map */
